HOST=127.0.0.1
SIGNLIST_ALLOWED_ORIGINS=
PORT=3200
POSTGRES_USER=registration
POSTGRES_DB=registration
POSTGRES_PORT=54329
POSTGRES_PASSWORD=GENERATED_BY_NPM_RUN_SETUP
SIGNLIST_DATABASE_URL=GENERATED_BY_NPM_RUN_SETUP
REGISTRATION_ENTRY_BRANCH=freepp
FREEPP_PYTHON=python
OPENAI_SENTINEL_MODE=pure
COLLECTOR_CAPTURE_BODIES=0
COLLECTOR_CAPTURE_RAW=0
CLOUDFLARE_TEMP_EMAIL_BASE_URL=
CLOUDFLARE_TEMP_EMAIL_ADMIN_AUTH=
CLOUDFLARE_TEMP_EMAIL_DOMAINS=
